#footer{
  background-color: var(--secondary);
  padding-top: 7rem;
  padding-bottom: 3rem;
}

#footer a{
  font-size: 18px;
  color:var(--white);
  margin: 5px 0;
  font-weight: 400;
}

#footer h5{
  font-size: 25px;
  line-height: 3rem;
  color: var(--primary);
  font-weight: 600;
}

#footer .links{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#footer a:hover{
  color:var(--primary);
}

.copyright{
  border-top:2px solid #fff;
  border-bottom: 2px solid #fff;
  flex-wrap: wrap;
}